<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<title>{$title}</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link href="/Public/app/css/global.css" rel="stylesheet" type="text/css">
<link href="/Public/app/css/map.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="app-wrapper">
	<div class="app-container">
		<div class="app-page-content"></div>
	</div>
</div>
<if condition="($siteid neq '')">
<script src="http://{$swturl}/JS/LsJS.aspx?siteid={$siteid}"></script>
</if>
<script src="http://api.map.baidu.com/api?type=quick&ak=AB01W4B6xtmWXpRkICT50rkh&v=1.0"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/Public/js/jquery-last.js"></script>
<script src="/Public/app/js/library-last.js"></script>
<script src="/Public/app/js/application-last.js"></script>
<script src="/Public/js/appview-1.0.0.dev.js"></script>
<script>
window.onload = function() {
	var cfg = new ReadApp('{$page}', '{$content}', false);
}
</script>
</body>
</html>