<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<meta name="keywords" content="{$keywords}" />
	<meta name="description" content="{$des}" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="/Public/css/list/common.css">
	<link rel="stylesheet" href="/Public/css/list/index.css">
</head>
<body >
	<div class="container">

		
		<div class="top">
			{$topimg}
			<i>微杂志</i>
		</div>
		
		<div class="content ">
			{$content}
		</div>
		<div href="javascript:;" onClick="loadMore({$id});" class="ajaxBtn">
                <div class="loader" style="display:none;">
                    <span><i></i><em></em></span>
                </div>
                <span class="txt">点击查看更多</span>
        </div>
	</div>
	<script src="/Public/js/jquery-2.1.0.min.js"></script>
	<script src="/Public/js/list.js"></script>
	
</body>
</html>