@charset "utf-8";

/*
* reset 清除默认属性
*/
*{font-family:"Microsoft Yahei",Tahoma;}
body,html{width:100%;height:100%;}
body,html,h1,h2,h3,h4,h5,h6,p,em,i,form,ul,li,dl,dt,dd,figure{padding:0;margin:0;}
body{font-size:12px;width:100%;background-color:#4e525e;}
em,u,i,b{font-style:normal;font-weight:normal;text-decoration:none;}
ul,li{list-style:none;}
h3{font-size:14px;}
a{text-decoration:none;outline:none;}
a:hover{}
a img{border:none;display:block;}

/* html5支持,需配合html5.js */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

/* 左右浮动 */
.FL{float:left;}
.FR{float:right;}

/* 左右浮动后清除浮动 */
.clear{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;overflow:hidden;line-height:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}

/* 带有图片Box */
.img,.img img{display:block;overflow:hidden;}
/*.icon{background:url('../images/icon.png') no-repeat 0 0;display:block;}*/

.filter{
	transition:filter 0.3s ease-in-out;
	filter:url(blur.svg#blur);
	-webkit-filter:blur(5px);
}

.mCustomScrollbar{touch-action:none}
.mCustomScrollbar.mCS_no_scrollbar{touch-action:auto}
.mCustomScrollBox{position:relative;overflow:hidden;height:100%;max-width:100%;outline:0;direction:ltr}
.mCSB_container{overflow:hidden;width:auto;height:auto}
.mCSB_inside>.mCSB_container{margin-right:30px}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0}
.mCS-dir-rtl>.mCSB_inside>.mCSB_container{margin-right:0;margin-left:30px}
.mCS-dir-rtl>.mCSB_inside>.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-left:0}
.mCSB_scrollTools{position:absolute;width:8px;height:auto;left:auto;top:0;right:0;bottom:0}
.mCSB_outside+.mCSB_scrollTools{right:-26px}
.mCS-dir-rtl>.mCSB_inside>.mCSB_scrollTools,.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools{right:auto;left:0}
.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools{left:-26px}
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto}
.mCSB_scrollTools a+.mCSB_draggerContainer{margin:20px 0}
.mCSB_scrollTools .mCSB_draggerRail{width:2px;height:100%;margin:0 auto;border-radius:16px}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;z-index:1}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position:relative;width:8px;height:100%;margin:0 auto;border-radius:4px;text-align:center}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{width:12px}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail,.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{width:8px}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown{display:block;position:absolute;height:20px;width:100%;overflow:hidden;margin:0 auto;cursor:pointer}
.mCSB_scrollTools .mCSB_buttonDown{bottom:0}
.mCSB_horizontal.mCSB_inside>.mCSB_container{margin-right:0;margin-bottom:30px}
.mCSB_horizontal.mCSB_outside>.mCSB_container{min-height:100%}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden{margin-bottom:0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{width:auto;height:16px;top:auto;right:0;bottom:0;left:0}
.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal,.mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal{bottom:-26px}
.mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer{margin:0 20px}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{width:100%;height:2px;margin:7px 0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger{width:30px;height:100%;left:0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{width:100%;height:4px;margin:6px auto}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{height:12px;margin:2px auto}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail,.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{height:8px;margin:4px 0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{display:block;position:absolute;width:20px;height:100%;overflow:hidden;margin:0 auto;cursor:pointer}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft{left:0}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{right:0}
.mCSB_container_wrapper{position:absolute;height:auto;width:auto;overflow:hidden;top:0;left:0;right:0;bottom:0;margin-right:30px;margin-bottom:30px}
.mCSB_container_wrapper>.mCSB_container{padding-right:30px;padding-bottom:30px}
.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_vertical{bottom:20px}
.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_horizontal{right:20px}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden+.mCSB_scrollTools.mCSB_scrollTools_vertical{bottom:0}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden+.mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_scrollTools.mCSB_scrollTools_horizontal{right:0}
.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_scrollTools.mCSB_scrollTools_horizontal{left:20px}
.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden+.mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal{left:0}
.mCS-dir-rtl>.mCSB_inside>.mCSB_container_wrapper{margin-right:0;margin-left:30px}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden>.mCSB_container{padding-right:0;box-sizing:border-box}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden>.mCSB_container{padding-bottom:0;box-sizing:border-box}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0;margin-left:0}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden{margin-bottom:0}
.mCSB_scrollTools,.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{transition:opacity .2s ease-in-out,background-color .2s ease-in-out}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{transition:width .2s ease-out .2s,height .2s ease-out .2s,margin-left .2s ease-out .2s,margin-right .2s ease-out .2s,margin-top .2s ease-out .2s,margin-bottom .2s ease-out .2s,opacity .2s ease-in-out,background-color .2s ease-in-out}
.mCSB_scrollTools{opacity:.75;}
.mCS-autoHide>.mCustomScrollBox>.mCSB_scrollTools,.mCS-autoHide>.mCustomScrollBox ~ .mCSB_scrollTools{opacity:0;}
.mCustomScrollbar>.mCustomScrollBox>.mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollbar>.mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollBox:hover>.mCSB_scrollTools,.mCustomScrollBox:hover ~ .mCSB_scrollTools,.mCS-autoHide:hover>.mCustomScrollBox>.mCSB_scrollTools,.mCS-autoHide:hover>.mCustomScrollBox ~ .mCSB_scrollTools{opacity:1;}
.mCSB_scrollTools .mCSB_draggerRail{background-color:#000;background-color:rgba(0,0,0,0.4);}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#fff;background-color:rgba(255,255,255,0.75);}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color:#fff;background-color:rgba(255,255,255,0.85);}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:#fff;background-color:rgba(255,255,255,0.9);}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{background-image:url(mCSB_buttons.png);background-repeat:no-repeat;opacity:.4;}
.mCSB_scrollTools .mCSB_buttonUp{background-position:0 0}
.mCSB_scrollTools .mCSB_buttonDown{background-position:0 -20px}
.mCSB_scrollTools .mCSB_buttonLeft{background-position:0 -40px}
.mCSB_scrollTools .mCSB_buttonRight{background-position:0 -56px}
.mCSB_scrollTools .mCSB_buttonUp:hover,.mCSB_scrollTools .mCSB_buttonDown:hover,.mCSB_scrollTools .mCSB_buttonLeft:hover,.mCSB_scrollTools .mCSB_buttonRight:hover{opacity:.75;}
.mCSB_scrollTools .mCSB_buttonUp:active,.mCSB_scrollTools .mCSB_buttonDown:active,.mCSB_scrollTools .mCSB_buttonLeft:active,.mCSB_scrollTools .mCSB_buttonRight:active{opacity:.9;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{background-color:#000;background-color:rgba(0,0,0,0.15)}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#000;background-color:rgba(0,0,0,0.75)}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color:rgba(0,0,0,0.85)}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:rgba(0,0,0,0.9)}
.mCS-dark.mCSB_scrollTools .mCSB_buttonUp{background-position:-80px 0}
.mCS-dark.mCSB_scrollTools .mCSB_buttonDown{background-position:-80px -20px}
.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft{background-position:-80px -40px}
.mCS-dark.mCSB_scrollTools .mCSB_buttonRight{background-position:-80px -56px}

.uploadBtn{position:absolute;left:50%;top:50%;width:56px;height:56px;z-index:0;margin-left:-28px;margin-top:-28px;background-color:rgba(0,0,0,0.35);border-radius:50%;}
.uploadBtn i{height:4px;width:34px;display:block;position:absolute;left:50%;top:50%;display:block;background-color:#fff;border-radius:2px;
	transform:translate(-50%, -50%);

}
.uploadBtn i:nth-child(2){transform:translate(-50%, -50%) rotate(90deg);}

.uploader-progress-bar{position:absolute;left:50%;top:50%;width:80%;max-width:200px;height:8px;z-index:0;border:solid 2px #fff;
	border-radius:8px;display:block;background-color:rgba(0,0,0,0.5);padding:2px;z-index:2;transform:translate(-50%,-50%);}
.uploader-progress-bar em{height:100%;display:block;overflow:hidden;border-radius:5px;background-color:#fff;
	transition:width 0.2s ease;}

/* maker-config-wrapper */
.mCSB_inside > .mCSB_container{margin-right:0;}
.gallery-wrap{position:absolute;left:0;top:0;width:100%;height:100%;z-index:10;background-color:rgba(0,0,0,0.5);display:none;}
.gallery-box{background-color:#fff;border-radius:3px;box-shadow:0 0 8px rgba(0,0,0,0.2);padding:10px;
			position:absolute;left:50%;top:50%;margin-left:-464px;margin-top:-310px;width:908px;height:600px;}
.gallery-item{width:908px;height:600px;}
.gallery-item ul{padding-bottom:54px;}
.gallery-list-box li,.gallery-list-box li img{width:160px;height:253px;border-radius:2px;}
.gallery-list-box li{float:left;margin:10px;position:relative;background-color:#000;cursor:pointer;}
.gallery-list-box li img{opacity:0.5;position:relative;z-index:0;
	transition:opacity 0.3s ease;
}
.gallery-list-box li:hover img,.gallery-list-box li.checked img{opacity:1;}
.gallery-list-box li i{width:20px;height:20px;position:absolute;right:4px;top:4px;z-index:1;background-color:#fff;display:block;border-radius:2px;}
.gallery-list-box li.checked i{background:url('../images/checked.png') no-repeat center center #fff;}
.gallery-submit-box{background-color:rgba(255,255,255,0.9);position:absolute;left:0;bottom:0;z-index:1;width:100%;height:34px;text-align:center;padding:10px 0;}
.gallery-submit-box .submit-btn{border:none;background-color:#297b00;height:34px;width:100px;border-radius:2px;display:block;margin:0 auto;cursor:pointer;color:#fff;font-size:14px;}
.gallery-submit-box .submit-btn:hover{background-color:#329500;}

.gallery-close-btn{position:absolute;right:-40px;top:0;width:40px;height:40px;background-color:#fff;border-radius:50%;z-index:1;overflow:hidden;cursor:pointer;
	transform:translate(-50%,-50%) rotate(-360deg);transition:all 0.4s 0s ease;
}
.gallery-close-btn i{width:24px;height:2px;display:block;border-radius:2px;position:absolute;
	left:50%;top:50%;margin-left:-12px;margin-top:-1px;background-color:#333;
	transform:rotate(45deg);
}
.gallery-close-btn i:nth-child(2){transform:rotate(-45deg);}
.gallery-close-btn:hover{transform:translate(-50%,-50%) rotate(0deg);}

body{background:#eee;}
.mCSB_scrollTools{width:4px;}
select,input[type=text]{-webkit-appearance:none;outline:none;}

.active{display:block;}

/* app-list-wrapper */
.app-list-wrapper{position:relative;width:100%;height:100%;}
.app-list-header{background-color:#444;padding:10px 10px;position:relative;box-shadow:0 0 10px rgba(0,0,0,0.5);}
.app-list-header a.logo{height:40px;width:266px;background:url('../images/logo.png') no-repeat 0 0;display:block;}

.app-list-header a.exit,.app-list-header a.add,.app-list-header a.create,.app-list-header a.manage{
	  padding:0 15px;position:absolute;top:0;text-align:center;color:#fff;line-height:60px;transition:background-color 0.3s;}

.app-list-header a.exit{right:10px;background-color:#e11627;}
.app-list-header a.exit:hover{background-color:#ff3b30;}

.app-list-header a.create{right:100px;padding:0 29px;}
.app-list-header a.create:hover{background-color:#888;}
.app-list-header a.manage{right:196px;}
.app-list-header a.manage:hover{background-color:#888;}
.app-list-box{height:calc(100% - 60px);}
.app-list-box ul li{border:solid 8px #fff;background-color:#fff;box-shadow:1px 1px 3px rgba(0,0,0,0.15);display:inline-block;position:relative;width:240px;border-radius:3px;margin:10px;}
.app-list-box ul li img{width:100%;height:379px;}
.app-list-box ul li span{line-height:24px;height:24px;width:100%;overflow:hidden;font-size:14px;display:block;}
.app-list-box ul li a.edit{position:absolute;right:5px;bottom:35px;background-color:#fff;display:block;width:50px;line-height:24px;
	text-align:center;border-radius:2px;color:#4e525e;opacity:0;transition:opacity 0.3s;}

.maker-nav{height:42px;background: #444;box-shadow:0 0 10px rgba(0,0,0,0.5);position:relative;z-index:11;padding:0px 5px 0px 25px;border-bottom:solid 1px rgba(0,0,0,0.3);position:relative;}
.maker-nav>a:nth-child(1):hover{color:#fff;}
.maker-nav a,.maker-nav b{line-height:42px;font-size:14px;padding-left:6px;display:inline-block;}
.maker-nav a,.maker-nav b{color:#ccc;}
.maker-nav a:hover{color:#329500;}
.maker-nav .current{color:#4e525e;font-weight:bold;}
.maker-nav button{position:absolute;top:0;height:42px;color:#fff;border:none;padding:0;cursor:pointer;text-align:center;
				transition:background-color 0.3s}
.maker-nav button.preview{width:70px;right:3px;background-color:#297b00;}
.maker-nav button.preview:hover{background-color:#329500;}
.saveMag{position:absolute;right:74px;width:70px;background-color:#444;}
.saveMag:hover{background-color:#888;}
#maker-newEle{position:relative; }
#maker-newEle{ position:absolute;left:47%;top:0;margin-left:-198px;}
#maker-newEle>a{background-image:none;text-decoration:none;text-align:center;width:60px;padding:0 8px;line-height:42px;transition:background .3s, color .3s;}
#maker-newEle>a:hover{background:#888;color:#fff;}
#maker-newEle .new-form-opts{position:absolute;width:120px;top:40px;background:#444;color:#ccc;text-align:center;left:216px;top:45px; display:none;}
#maker-newEle .new-form-opts li{line-height:32px; transition:color .3s, background .3s; cursor:pointer;}
#maker-newEle .new-form-opts li:hover{background:#888;color:#fff;}

.new-img-up{ width:120px;height:160px;border:1px solid green;position:absolute;left:50%; margin-left:-10px;top:38px; }
.new-img-up ul,.new-img-up li{height:100%;}
.new-img-up .img-uper{height:100%;position:relative;overflow:hidden;background:#fff;}
.new-img-up .img-uper i{position:absolute; width:50px;height:50px;z-index:0;font-size:46px;line-height:46px;color:#999;border:1px solid #999;left:50%;top:50%;margin-left:-25px;margin-top:-34px;cursor:pointer;text-align:center;border-radius:50%;}
.new-img-up .img-uper input{width:100%;position:absolute;height:100%;cursor:pointer;opacity:0;z-index:1;}
.new-img-up .img-uper img{width:100%;}

/* 杂志列表 */
.mod{width:1080px;margin:0 auto;position:relative;}
.mag-nav{height:60px;font-size:0;background:#444;line-height:60px;}
.mag-nav a{display:inline-block;width:214px;text-align:center;font-size:16px;color:#fff;transition:background .3s;}
.mag-nav a:hover,.mag-nav a.selected{background:#888;}
.mag-nav a.selected span{transform:scale(1.2);}
.mag-nav span{background:url(../images/logos.png) no-repeat 0 0 ; display:inline-block; width:40px;
		vertical-align:middle; height:40px;margin-right:16px;transition:transform .3s;}
.mag-nav a:hover span{transform:scale(1.2);}
.mag-nav a:nth-child(1) span{height:41px;width:65px;}
.mag-nav a:nth-child(2) span{width:48px;background-position:-80px 0;}
.mag-nav a:nth-child(3) span{width:;background-position:-141px 0;}
.mag-nav a:nth-child(4) span{width:;background-position:-196px 0;}
.mag-nav a:nth-child(5) span{width:;background-position:right 0;}
.app-list-box{width:1024px;margin:0 auto;height:0;}

.mag-list{position:relative;}
.mag-list section{position:absolute;left:0;top:0;width:100%;display:none;}
.mag-list section.selected{display:block;}
.mag-list{height:calc(100% - 60px);}

.mag-list ul{padding:0;font-size:0;padding-bottom:40px;}
.mag-list li{position:relative;width:250px;background:#fff;border-radius:2px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);margin:20px 10px 0 10px; display:inline-block;}
.mag-list li img{width:100%;}
.mag-list li .mag-info{padding:8px;}
.mag-list .mag-info h3{line-height:24px;height:24px;overflow:hidden; }
.mag-list .mag-info h3, .mag-list .mag-info p{border:1px solid #fff; outline:none;}
.mag-list .mag-info h3:hover, .mag-list .mag-info p:hover{border:1px dashed #ccc;}
.mag-list .mag-info h3:focus, .mag-list .mag-info p:focus{border:1px dashed #222;}
.mag-list .mag-info h3:focus{overflow:auto;height:48px;overflow:visible;}
.mag-list .mag-info p{padding:6px 0;line-height:20px; font-size:12px;height:94px;overflow:hidden;}
.mag-list .mag-data{padding:4px;font-size:12px;}
.mag-list .mag-img{position:relative;width:250px;height:250px;overflow:hidden;}
.mag-list .mag-edit{position:absolute;width:100%;height:100%;left:0;top:0;
	background:rgba(255,255,255,0);transition: background .3s;}
.mag-list li:hover .mag-edit{background:rgba(255,255,255,.8);}
.mag-list .mag-edit-wrap{position:absolute;width:100%;font-size:14px;height:100%;opacity:0;left:0;top:0;transition:opacity .3s;}
.mag-list .mag-edit span{position:absolute;width:150px;height:150px;left:50%;top:50%;margin-left:-75px;margin-top:-75px;}
.mag-list li:hover .mag-edit-wrap{opacity:1;}
.mag-list .mag-edit-wrap a,.mag-list .mag-edit-wrap i{position:absolute;bottom:0;transition:background-color .3s, color .3s;}
.mag-list .mag-edit-wrap a,.mag-list .mag-edit-wrap i{text-align:center;width:46px;height:30px;color:#888;}
.mag-list .mag-edit-wrap i:hover:hover, .mag-list .mag-edit-wrap a:hover{ color:#222;}
.mag-list .mag-edit-wrap a.mag-edit-btn{right:0;}
/*hyl*/
.mag-list .mag-edit-wrap a.mag-edit-btn strong.strongD{display:none;position:absolute;right:42px;top:50%;margin-top:-18px;width:80px;height:30px;line-height:30px;}
.mag-list .mag-edit-wrap a.mag-edit-btn strong.strongD:before,.mag-list .mag-edit-wrap a.mag-edit-btn strong.strongD:after{right:-4px;top:50%;margin-top:-4px;content: ""; position: absolute; z-index: 1000; border-top: 4px solid transparent ; border-left:4px solid #444; border-right:0; border-bottom: 4px solid transparent;}
.mag-list li .mag-edit-wrap a.mag-edit-btn:hover strong.strongD{display:block;}
.mag-list .mag-edit-wrap i strong.strongD{display:none;position:absolute;left:42px;top:50%;margin-top:-18px;width:80px;height:30px;line-height:30px;background-color:#444;color:#222;text-align:center;}
.mag-list .mag-edit-wrap i strong.strongD:before,.mag-list .mag-edit-wrap i strong.strongD:after{left:-4px;top:50%;margin-top:-4px;content: ""; position: absolute; z-index: 1000; border-top: 4px solid transparent ; border-left:0; border-right:4px solid #444; border-bottom: 4px solid transparent;}
.mag-list .mag-edit-wrap i:hover strong.strongD{display:block;}
.mag-list .mag-edit-wrap a.mag-edit-preview{right:44px;}
.mag-list .mag-edit-wrap i{width:46px;cursor:pointer;/*overflow:hidden;*/}
.mag-list .mag-edit-wrap input[type=file]{height:100%;position:absolute;left:-68px;top:0;cursor:pointer;opacity:0;width:110px;}
.mag-list .mag-edit-wrap b{position:absolute;top:26px;left:76px;}
.strongD{font-size:12px !important;color:#fff !important;font-family:"宋体" !important;background:#444;font-weight:normal !important;border-radius:3px;}
.page{position:absolute;width:100%;height:100%;left:0;top:0;overflow: hidden;background-color:#fff;
	background-repeat:no-repeat; background-size:100%;
	}
.app-page-content .page{background-color:red;}
.app-pagination i{background-color:#ccc;}
.page .curTar{border:1px solid #297b00;}
.page .createdEle{position:absolute;text-align:center;line-height:24px;top:20px;min-height:24px; }
.page .createdEle p{word-break:break-all;word-wrap :break-word;padding:4px;}
.page .createdImg{position:absolute;width:120px;height:auto; top:20px;}
.page .createdImg img{width:100%;}
.page .createdImg i{position:absolute; width:20px;height:20px; border-right:2px solid #297b00; border-bottom:2px solid #297b00; cursor:nw-resize; right:-4px; bottom:-4px;}
.page .createdEle i{position:absolute;top:9px;cursor:e-resize; width:6px;height:6px; background:#297b00;}
.page .createdEle .resize-left{left:-3px;}
.page .createdEle .resize-right{right:-3px;}
.page #btn{color:#fff;display:inline-block;width:130px;font-size:18px;line-height:36px;border-radius:4px;border:1px solid #7CAA05;}
.page #btn[data-type=yd]{background:#7CAA05;}
.page #btn[data-type=ba]{background:#1F95D7; border-color:#076396;}
.page #btn[data-type=wz]{background:#BF6443; border-color:#752407;}
.page #btn[data-type=sg]{background:#6B4C1D; border-color:#C37B0E;}
.page .tel{font-size:20px;}
.page .tel a[data-type=yd]{color:#7CAA05;}
.page .tel a[data-type=ba]{color:#1F95D7;}
.page .tel a[data-type=wz]{color:#BF6443;}
.page .tel a[data-type=sg]{color:#6B4C1D;}
.page .form-text input{border:1px solid #ccc; transition:all .3s; border-radius:4px;height:28px;line-height:28px;padding:0 4px;width:190px;height:32px;line-height:32px;}
.page .form-text input:focus{border-color:#7CAA05;}

.maker-config-wrapper{width:100%;height:calc(100% - 44px);overflow:hidden;position:relative;z-index:0;}
.maker-pages-list{width:240px;height:100%;background-color:#eee;position:absolute;left:0;top:0;z-index:1;overflow:hidden;}
.maker-pages-thumb ul{width:220px;}
.maker-pages-thumb ul li{width:200px;background-color:rgba(0,0,0,0.1);height:315px;margin:15px auto;position:relative;left:-4px;}

.maker-simulator-wrap{position:absolute;left:50%;top:50%;height:508px;width:324px;margin-left:-340px;margin-top:-254px;}
.maker-preview{width:320px;height:505px;position:absolute;}
.maker-config-wrap{position:absolute;right:0;top:0;background-color:#eee;z-index:1;width:306px;height:100%;}
/* 左边缩略预览列表 */
.maker-pages-list{width:220px;}
.maker-pages-thumb ul{}
.maker-pages-list .add{text-indent:30px;width:200px;line-height:50px;height:50px;font-size:14px;text-shadow:1px 1px 1px rgba(0,0,0,0.1);
	font-weight:bold;text-align:center;display:block;color:#fff;margin:10px auto;position:relative;left:-4px;transition:all 0.3s;

}
.maker-pages-list .add:hover{background-color:#7CAA05;}
.maker-pages-list .add b{width:16px;height:16px;border-radius:50%;border:solid 2px #fff;display:block;position:absolute;left:60px;top:50%;margin-top:-10px;}
.maker-pages-list .add b i{width:12px;height:2px;display:block;border-radius:1px;background-color:#fff;position:absolute;left:50%;top:50%;
	transform:translate(-50%, -50%);}
.maker-pages-list .add b i:nth-child(2){transform:translate(-50%, -50%) rotate(90deg);;}
.maker-pages-list .add{height:32px;line-height:32px;width:120px;background-color:#297b00;margin-left:20px;}
.maker-pages-list .add:hover{background-color:#329500;}
.maker-pages-list .add b{left:10px;}
.maker-pages-thumb ul li{width:150px;height:237px; position:relative; margin:10px;background-color:#fff;border:1px solid #fff;transition:border-color .3s;}
.maker-pages-thumb ul li:hover{border-color:#444;}
.maker-pages-list li.cur{border:1px solid #444;}
.maker-pages-thumb li .page-wrap{width:320px; height:505px;transform: scale(0.47);margin-left:-57%;margin-top:-89.2%;background:#ccc;position: relative;}

.maker-pages-list .page-edit{position:absolute;width:40px;right:-55px; z-index:1;top:84px;text-align: center;}
.maker-pages-list .page-edit i{display:block;line-height:30px;position:relative;color:#888;transition:color 0.3s;}
.maker-pages-list .page-edit i:hover{color:#000;}
.maker-pages-list .page-del,.maker-pages-list .page-copy{cursor:pointer;}
/*.maker-pages-list .page-del:hover,.maker-pages-list .page-copy:hover{background-color:#fff;}*/
.maker-pages-list .page-edit i strong.strongD{display:none;position:absolute;right:40px;top:50%;margin-top:-15px;width:80px;height:30px;line-height:30px;background-color:#444;text-align:center;}
.maker-pages-list .page-edit i strong.strongD:before,.maker-pages-list .page-edit i strong.strongD:after{right:-4px;top:50%;margin-top:-4px;content: ""; position: absolute; z-index: 1000; border-top: 4px solid transparent ; border-left: 4px solid #444; border-right: 0; border-bottom: 4px solid transparent;}
.maker-pages-list .page-edit i:hover strong.strongD{display:block;}
/*hyltj*/

.maker-pages-list .page-index{font-size:20px;}


.preview-simulator-wrap{position:fixed;left:0;top:40px;z-index:10;width:100%;height:calc(100% - 40px);background-color:rgba(0,0,0,0.8);display:none;}
.preview-simulator{width:620px;height:600px;position:absolute;left:50%;top:50%;margin-left:-350px;margin-top:-300px;
				background:#eee;border-radius:4px;box-shadow:0 0 20px rgba(255,255,255,0.6);}
.preview-simulator iframe{width:320px;height:505px;position:absolute;left:33px;top:48px;box-shadow:0 0 10px rgba(0, 0, 0, 0.8);}

.preview-hide-btn{width:50px;height:50px;border-radius:50%;display:block;background-color:#ff3b30;position:absolute;
				  right:10px;top:10px;cursor:pointer;transition:transform 0.3s ease;}
.preview-hide-btn i{width:30px;height:2px;display:block;border-radius:1px;position:absolute;left:50%;top:50%;
					margin-left:-15px;margin-top:-1px;background-color:#fff;transform:rotate(45deg);}
.preview-hide-btn i:nth-child(2){transform:rotate(-45deg);}
.preview-hide-btn:hover{transform:rotate(180deg);}
.preview-qrcode-box{position:absolute;width:160px;left:50%;top:254px;margin-left:34px;z-index:2;}
.preview-qrcode-box span{display:block;text-align: center; padding:6px 0 20px;}
.maker-simulator{background-image:none;position:relative;height:100%;}
.maker-simulator h1{color:#333;top:-40px;}
.maker-preview{ background:#fff;width:320px;height:505px;top:0px;left:0;}
.maker-preview .page{border:1px solid #ccc;}
.maker-preview .page.curTar{border:1px solid #444;}
.maker-preview .page .anim{visibility:hidden;}
.maker-preview .page .anim[data-anim='normal']{visibility:visible !important;}
.maker-simulator .maker-tools{position:absolute; width:70px;right: -80px;bottom:0px;}
.maker-simulator .maker-tools span{display:block;color:#888;text-align:center;cursor:pointer;line-height:24px; margin-bottom:10px;font-size:14px;position:relative;}
.maker-simulator .maker-tools span:hover{color:#000;transition:all 0.3s;}
/*hyltj*/
.maker-simulator .maker-tools span strong.strongD{display:none;position:absolute;left:71px;top:50%;margin-top:-15px;width:80px;height:30px;line-height:30px;background-color:#444;text-align:center;}
.maker-simulator .maker-tools span strong.strongD:before,.maker-simulator .maker-tools span strong.strongD:after{left:-4px;top:50%;margin-top:-4px;content: ""; position: absolute; z-index: 1000; border-top: 4px solid transparent ; border-left:0; border-right:4px solid #444; border-bottom: 4px solid transparent;}
.maker-simulator .maker-tools span:hover strong.strongD{display:block}
/*.maker-simulator .maker-tools span:hover{background:#fff;}*/
.maker-simulator .createdEle,.maker-simulator .createdImg{cursor:move;}
.mag-info-toggle{position:absolute;right: -80px;line-height: 24px;text-align: center;width: 60px;cursor: pointer;}
.mag-info-toggle:hover, .mag-info-toggle.selected{background:#fff;}

.mag-info-config,.mag-info-config select,.mag-info-config input{border:1px solid #aaa;transition:border-color .3s;}
.mag-info-config{position:absolute;top:0px;right:-258px;z-index:-2;padding:20px 10px;background:#fff;}
.mag-info-config select{text-align:center;line-height:26px;width:160px;}
.mag-info-config li{padding:8px 0;}
.mag-info-config li.mag-music-config{width:214px;line-height:30px;overflow:hidden;}
.mag-info-config input{padding:3px;line-height:22px;}
.mag-info-config input:focus{border-color:#444;}
.mag-info-config .mag-music{ display:inline-block;margin:0 6px;width:30px;cursor:pointer;vertical-align:middle;height:30px;background:url('../images/mc.png') no-repeat;background-size:30px;}
.mag-info-config .mag-music:hover{background-position:0 -33px; }

/* 属性配置 */
.maker-config-wrap{border-left:1px solid #aaa;padding:10px;}
.maker-config-wrap section{display:none;}
.maker-config-wrap section.active{display:block;}
.maker-config-wrap .opts span{display:inline-block;background:#888;text-align: center;color:#fff; width:80px;line-height:30px;cursor:pointer;}
.maker-config-wrap .opts span.active{background:#444;color:#ccc;}
.maker-config-wrap .tabs{position:relative;width:100%;height:100%:}
.maker-config-wrap .tabs .card{position:absolute;display:none;width:100%;}
.maker-config-wrap .tabs .card.active{display:block;}
.maker-config-wrap dl{ width:100%; padding:5px 0;}
.maker-config-wrap dd{height:30px;line-height:30px;display:inline-block;}
.maker-config-wrap input[type=color]{width:20px;cursor:pointer;margin-right:0;}
.maker-config-wrap li input,.maker-config-wrap li select{border:1px solid #aaa;width:50px;text-align: center;height:20px;line-height:20px;
	 													margin:auto 4px;transition:border .3s;}
.maker-config-wrap li select{height:24px;}
.maker-config-wrap li input.num{width:40px;}
.maker-config-wrap li input.rgb{width:60px;}
.maker-config-wrap li input:focus{border-color:#222;}
.maker-config-wrap dl.bg-color{margin-top:30px;}

.maker-config-wrap .img-uploader{}
.maker-config-wrap .img-box{height:200px;width:128px;position:relative; margin:6px auto 16px; background-color:#fff;overflow:hidden;background-size:100%;}
.maker-config-wrap .img-box img{width:100%;}
.maker-config-wrap .img-tool span{display:inline-block;width:50px;line-height:30px;color:#888;position:relative;transition:all 0.3s;}
.maker-config-wrap .img-tool span:hover{color:#000;}
/*hyl*/
.maker-config-wrap .img-tool span strong.strontD{display:none;position:absolute;left:64px;top:50%;margin-top:-15px;width:80px;height:30px;line-height:30px;background-color:#444;color:#fff;font-weight:normal;font-family:"宋体";font-size:12px;text-align:center;border-radius:3px;}
.maker-config-wrap .img-tool span strong.strontD:before,.maker-config-wrap .img-tool span strong.strontD:after{left:-4px;top:50%;margin-top:-4px;content: ""; position: absolute; z-index: 1000; border-top: 4px solid transparent ; border-left:0; border-right:4px solid #444; border-bottom: 4px solid transparent;}
.maker-config-wrap .img-tool span:hover strong.strontD{display:block;}
/*.maker-config-wrap .img-tool span:hover{background-color:#888;color:#fff;}*/
.maker-config-wrap .img-tool {text-align: center;}
.maker-config-wrap .img-tool input[type=file]{line-height: 30px;opacity: 0;position: absolute;right:0;cursor: pointer;width: 168px;margin: 0;height: 40px;}
.maker-config-wrap .conf-anim dd{}
.maker-config-wrap .conf-anim dd span{ display:inline-block;margin-top:2px;width:31.8%;text-align: center; cursor:pointer;border:1px solid #eee;transition:border-color .3s;}
.maker-config-wrap .conf-anim dd span.active{background-color:#fff;border-color:#aaa;}
.maker-config-wrap .conf-anim dd span:hover{background-color:#fff;border-color:#aaa; }

/* page配置 */
.maker-config-wrap .page-config .opts span{width:100%; cursor:default;}

/* 新建文本元素配置 */
.ele-config li p{-webkit-box-flex:1;box-flex:1;}
.ele-config li div.inputer{min-height:100px;border:1px solid #ccc;background:#fff;width:300px;display:block;padding:4px;
	          margin-top:10px;word-break:break-all;word-wrap :break-word; outline:none;}
.ele-config li div.inputer:focus{border:1px solid #444;}
.ele-config .colorpicker{margin-left:6px;}
.conf-border .border-style input{}
.conf-slider span{display:inline-block;position:relative;width:120px;height:4px;background:#888;border-radius:2px; transition:background .3s;}
.conf-slider span i{position:absolute;width:16px;height:16px;border-radius:50%;background:#888;top:-6px;left:0;cursor:pointer; transition:background .3s;}
.conf-slider dd:hover i,.conf-slider dd:hover span{background:#444;}
.conf-fontStyle span,.conf-align span{display:inline-block;line-height:24px;transition:background .3s;
		background:#888;color:#fff;cursor:pointer;text-align: center;margin-right:4px;width:28px;}
.conf-fontStyle span{font-size:14px;}
.conf-align span:hover,.conf-fontStyle span:hover{background:#444;}
.conf-align span.selected,.conf-fontStyle span.selected{background:#444;}
.maker-config-wrap .conf-anim-type dd{ height:auto; }

/* 弹出层 */
.layer-masker{position:fixed;width:100%;height:100%;background:rgba(0, 0, 0, .5);left:0;top:0; display:none;}
.layer-popup{position:absolute;width:500px;height:300px;left:50%;top:50%;margin-left:-250px;margin-top:-150px;background:#fff;}
.layer-popup-confirm , .layer-popup-cancel{position:absolute;width:100px;line-height:40px;text-align:center;color:#fff;cursor:pointer;}
.layer-popup-confirm{background:#297b00;bottom:0;right:0;}
.layer-popup-confirm:hover{background:#329500;}
.layer-popup-cancel{background:#444;bottom:0;right:100px;}
.layer-popup-cancel:hover{background:#888;}
.layer-popup-title{line-height:50px; background:#444;color:#fff;text-align:center;font-weight:normal;font-size:20px;}
.layer-popup input[type=text]{border:1px solid #888;height:30px;display:inline-block;line-height:30px;padding:0 4px;color:#444;background:#eee;transition:all .3s;width:210px;}
.layer-popup input[type=text]:focus{border:1px solid #222;background:#fff;}

/* input(输入框) */
.form-input, .form-input-type, .form-btn-type, .form-btn-value, .link-cont, .link-demo, .tel-type,.tel-value{text-align:center;}
.form-input{margin:72px 0 20px;}
.form-input-type input[type=radio]{margin-left:20px;vertical-align:text-bottom;}

/* btn(提交) */
.form-btn-type{margin:50px 0 40px;}
.form-btn-type span, .tel-type span{display:inline-block;width:80px;text-align:center;margin-right:4px;line-height:40px;color:#fff;border:1px solid #fff; transition:all .3s;cursor:pointer;}
.form-btn-type span.selected, .tel-type span.selected,.form-btn-type span:hover, .tel-type span:hover{border:1px dashed #444;}
.form-btn-yd {background:#7CAA05;}  /* 远东主色 */
.form-btn-ba {background:#1F95D7;}  /* 博爱主色 */
.form-btn-wz {background:#BF6443;}  /* 五洲主色 */
.form-btn-sg {background:#6B4C1D;}  /* 曙光主色 */

/* tel(手机) */
.tel-type{margin:60px 0 20px;}
.tel-type span{width:100px;}
.tel-type .tel-yd {color:#7CAA05;}
.tel-type .tel-ba {color:#1F95D7;}
.tel-type .tel-wz {color:#BF6443;}
.tel-type .tel-sg {color:#6B4C1D;}

/* link(链接) */
.link-cont{margin:50px 0 0px;text-align:center;}
.link-cont p{margin-bottom:16px;}

/* layout(列表布局) */
.popup-layout{display:flex;}
.popup-layout-left{width:80px;background:#444;color:#ccc;height:448px;border-top:2px groove #000;text-align:center;position:relative;}
.popup-layout-left .opt{line-height:42px; cursor:pointer;}
.popup-layout-left .opt:hover,.popup-layout-left .opt.selected{background:#888;}

.popup-layout-right{flex:auto;position:relative;height:410px;box-sizing:border-box;padding:5px;overflow:hidden;}
.popup-layout-right .block{height:400px;width:calc(100% - 10px);position:absolute;left:5px;top:5px;background:#fff; display:none;overflow:auto;}
.popup-layout-right li{width:104px;margin-left:10px;margin-top:10px;height:130px;border:1px solid #ccc;transition:border-color .3s;
											cursor:pointer;display:inline-block;line-height:130px;font-size:0;overflow:hidden;}
.popup-layout-right li img{display:inline-block;vertical-align:middle;max-width:100%;}
.popup-layout-right li:hover,.popup-layout-right li.selected{border-color:#444;}
.pageBg-list .popup-layout-right li{width:;height:164px;}
.music-list .popup-layout-right li{width:calc(50% - 6px);overflow:hidden;margin-right:4px;height:34px;line-height:30px;margin-left:0;font-size:12px;}
.music-list .popup-layout-right li span{display:inline-block;margin:0 6px;width:30px;vertical-align:middle;height:30px;background:url('../images/mc.png') no-repeat;background-size:30px;}
.music-list .popup-layout-right li span:hover{background-position:0 -33px;}
.music-list .popup-layout-right li span audio{width:220px;vertical-align:middle}
.popup-upload{position:absolute;width:100%;height:40px;background:#297b00;line-height:40px;bottom:0;text-align:center;}
.popup-upload:hover{background:#329500;}
.popup-upload input[type=file]{opacity:0;position:relative;width:160px;left:-70px;z-index:2;cursor:pointer;}
.popup-upload em{position:absolute;width:100%;height:40px;line-height:40px;left:0;top:0;}

.upload-bar{position:absolute;width:100%;height:100%;background:rgba(0,0,0,.4);left:0;top:0;z-index:6;}
.upload-bar-wrap{left:50%;top:50%;border:1px solid #fff; position:absolute;}
.upload-bar-wrap.rectangle{width:80%;height:8px;margin-left:-40%;margin-top:-4px;border-radius:4px;}
.upload-bar-per.scroll{display:block;height:100%;background:#64F71A;width:0;border-radius:4px;}
.upload-bar-wrap.round{width:40px;height:24px;text-align:center;margin-left:-20px;margin-top:-12px;}
.upload-bar-per.text{position:absolute;left:0;top:0;width:100%;text-align:center;color:#64F71A;line-height:24px;}







/*.images{border:solid red 5px;background-image:none !important;}*/







input{}
