@charset "utf-8";

/* -------------------- global -------------------- */
body, html, h1, h2, h3, h4, h5, h6, p, em, i, form, ul, li, dl, dt, dd, figure{padding:0;margin:0;}
body{font-size:12px;background-color:#333;
	-webkit-text-size-adjust:none;
	text-size-adjust:none;

	-webkit-user-select:none;
	user-select:none;

	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
}
html, body{width:100%;height:100%;overflow:hidden;}
body,input,textarea,select{font-family:'Helvetica Neue','Helvetica','Microsoft Yahei','Arial'}
em, u, i, b, s{font-style:normal;font-weight:normal;text-decoration:none;}
ul, li{list-style:none;}
h3{font-size:14px;}
a{text-decoration:none;outline:none;color:#2b2a2a;}
input,textarea,select{outline:none;resize:none;-webkit-appearance:none;}
a img{border:none;display:block;}
.img,.img img{display:block;width:100%;}
.piece{display:block;}
.clear{content:'.';display:block;height:0;font-size:0;clear:both;visibility:hidden;overflow:hidden;line-height:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:' ';clear:both;height:0;}
.clearfix {*zoom:1;}
.icon{background:url('../img/global/icon.png') no-repeat 0 0;background-size:300px 300px;display:block;overflow:hidden;}
.filter{
	transition:filter 0.3s ease-in-out;
	-webkit-transition:filter 0.3s ease-in-out;

	filter:url(blur.svg#blur);
	-webkit-filter:blur(5px);
}
.float{
	-webkit-transition:-webkit-transform 0.1s linear;
	transition:transform 0.1s linear;
}
#LRdiv0,#LRdiv1,#LRdiv2{display:none !important;}

/* -------------------- 容器 -------------------- */
.app-wrapper{margin:0 auto;background-color:#eee;box-shadow:0 0 12px rgba(0,0,0,0.5);
	-webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.app-wrapper,.app-container{width:100%;height:100%;position:relative;z-index:0;}

/* page-content页面容器 */
.app-page-content{width:100%;height:100%;overflow:hidden;z-index:0;position:relative;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;}
.app-page-content .page{position:absolute;left:50%;top:50%;margin-left:-160px;margin-top:-253px;width:320px;
	height:505px;background-color:#333;background-repeat:no-repeat;overflow:hidden;
	background-position: 0 0;background-size:100% 100%;-webkit-transform:translate(0,100%);transform:translate(0,100%);}
.app-page-content .page:nth-child(1){z-index:1;
	-webkit-transform:translateY(0);
	transform:translateY(0);
}
.page .createdEle, .page .createdImg{position:absolute;visibility:hidden;}
.page .createdEle{line-height:28px;text-align:center;min-height:24px;}
.page .anim[data-anim='normal']{visibility:visible !important;}
.page .createdImg img{width:100%;}
.page #btn{color:#fff;display:inline-block;width:130px;font-size:18px;line-height:36px;border-radius:4px;border:1px solid #7CAA05;text-align:center;}
.page #btn[data-type=yd]{background:#7CAA05;}
.page #btn[data-type=ba]{background:#1F95D7; border-color:#076396;}
.page #btn[data-type=wz]{background:#BF6443; border-color:#752407;}
.page #btn[data-type=sg]{background:#6B4C1D; border-color:#C37B0E;}
.page .tel{font-size:20px;}
.page .tel a[data-type=yd]{color:#7CAA05;}
.page .tel a[data-type=ba]{color:#1F95D7;}
.page .tel a[data-type=wz]{color:#BF6443;}
.page .tel a[data-type=sg]{color:#6B4C1D;}
.page .form-text input{border:1px solid #ccc; transition:all .3s; border-radius:4px;padding:0 4px;width:190px;height:32px;line-height:24px;}
.page .form-text input:focus{border-color:#7CAA05;}

/* -------------------- 模块 -------------------- */
/* APP加载器 */
.app-loader{display:block;z-index:3;position:absolute;left:0;top:0;width:100%;height:100%;}
.app-loaderwz{background-color:#9D6D31}
.app-loaderba{background-color:#1B9423;}
.app-loaderyd{background-color:rgb(0, 117, 85);}
.app-loadersg{background-color:#089540;}
.app-loadergp{background-color:#006D33;}
.app-loader .bar{width:60%;position:absolute;left:50%;top:50%;margin-left:-30%;margin-top:-6%;height:8px;background-color:rgba(0,0,0,0.5);display:block;border-radius:6px;padding:2px;overflow:hidden; -webkit-transform:translateX(-1px);transform:translateX(-1px); }
.app-loader .bar s{background-color:#fff;display:block;width:0;overflow:hidden;border-radius:4px;height:8px;position:relative;}
.app-loader .bar s b{height:100%;border-radius:6px;position:absolute;right:0;top:0;width:50%;
	                background:-webkit-gradient(linear,0% 0%, 100% 0%, from(#fff), to(#efd89d));
	                background:-moz-linear-gradient(0% 0% 0deg,#fff,#efd89d);
}
.app-loader.mini .bar s{border-radius:0;width:0;height:100%;}
.app-loader.mini .bar s b{border-radius:0;}

.app-loader .circle{position:absolute; width:80px;border:1px solid #fff;border-radius:50%;height:80px; left:50%;top:50%;margin-left:-40px;margin-top:-40px;background-color:#fff; animation:scale 1s linear; box-shadow:0 0 2px 3px rgba(255,255,255, 0.2); }
.app-loader .circle .bgImg{position:absolute;left:50%;margin-left:-40px;top:50%;margin-top:-40px;width:80px;height:80px;border-radius:50%;animation: myfirst 3s linear 0s infinite normal; -moz-animation: myfirst 3s linear 0s infinite normal; -webkit-animation: myfirst 3s linear 0s infinite normal; -o-animation: myfirst 3s linear 0s infinite normal;}
@-webkit-keyframes myfirst
{
from   {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); transform: rotateZ(0deg);}
to  {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); transform: rotateZ(360deg);}
}
@keyframes myfirst
{
from   {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); transform: rotateZ(0deg);}
to  {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); transform: rotateZ(360deg);}
}
.app-loader .criyd{background-image:url('/Public/images/dcover/yd.png');background-size:100%;}
.app-loader .crigp{background-image:url('/Public/images/dcover/gp.png');background-size:100%;}
.app-loader .crisg{background-image:url('/Public/images/dcover/sg.png');background-size:100%;}
.app-loader .criwz{background-image:url('/Public/images/dcover/wz.png');background-size:100%;}
.app-loader .criba{background-image:url('/Public/images/dcover/ba.png');background-size:100%;}
.app-loader .circle s{position:absolute;width:24px;height:24px;color:#fff;text-align: center;
	line-height:24px;left:50%;margin-left:-12px;bottom:-30px;
 }
@-webkit-keyframes scale {
	0% {transform:scale(0);opacity:0;}
	70% {transform:scale(1.2);}
	80% {transform:scale(1);}
	90% {transform:scale(1.1);}
	100% {transform:scale(1);opacity:100;}
}


/* APP 分页 */
.app-pagination{width:4px;position:absolute;top:50%;right:3px;z-index:1;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.app-pagination i{display:block;width:4px;height:4px;background-color:#fff;opacity:0.3;border-radius:2px;float:left;margin:2px 0;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.app-pagination i.current{opacity:1;height:15px;}

/* -------------------- 组件 -------------------- */
/* 分享提示 */
.app-share-tipser{position:absolute;right:0;top:0;width:100%;height:100%;display:block;z-index:-1;opacity:0;background-color:rgba(0,0,0,0.5);}
.app-share-tipser i{width:199px;height:152px;display:block;position:absolute;right:20px;top:15px;background-position:-101px 0;}

/* 横屏提示 */
.app-horiz-tipser{background-color:rgba(0,0,0,0.3);display:block;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;z-index:-1;}
.app-horiz-tipser span{height:80px;width:240px;border-radius:4px;text-align:center;background-color:#fff;display:block;position:absolute;left:50%;top:50%;margin-left:-120px;margin-top:-40px;font-size:16px;line-height:80px;
	-webkit-transition:-webkit-transform 0.1s linear;
	transition:transform 0.1s linear;
}

/* 上滑指引器 */
.app-swipe-guider{width:60px;height:40px;position:absolute;z-index:1;left:50%;margin-left:-30px;bottom:80px;display:block;}
.app-swipe-guider b,.app-swipe-guider s{display:block;
	-webkit-animation:swipeUp 1.5s infinite;
	animation:swipeUp 1.5s infinite;
}
.app-swipe-guider b{width:29px;height:18px;margin:0 auto;overflow:hidden;background-position:-71px -82px;}
.app-swipe-guider s{text-align:center;font-size:13px;color:#fff;line-height:22px;padding-top:3px;text-shadow:0 0 1px rgba(0,0,0,0.2);}

/* 工具栏 */
.app-tool-bar{position:absolute;bottom:10px;z-index:2;width:40px;height:40px;display:block;}
.app-tool-bar.leftTop{top:10px;left:10px;}
.app-tool-bar.centerTop{top:10px;left:50%;margin-left:-20px;}
.app-tool-bar.rightTop{top:10px;right:10px;}
.app-tool-bar.leftMiddle{left:10px;top:50%;margin-top:-20px;}
.app-tool-bar.rightMiddle{right:10px;top:50%;margin-top:-20px;}
.app-tool-bar.leftBottom{bottom:10px;left:10px;}
.app-tool-bar.centerBottom{bottom:10px;left:50%;margin-left:-20px;}
.app-tool-bar.rightBottom{bottom:10px;right:10px;}

.app-tool-bar.effect-flower>dt,.app-tool-bar.effect-stretch>dt,.app-tool-bar dd{position:absolute;border-radius:50%;display:block;cursor:pointer;}
.app-tool-bar dd{top:50%;left:50%;margin-top:-20px;margin-left:-20px;width:40px;height:40px;}
.app-tool-bar.unfold>dd{opacity:1;}

/* effect-flower */
.app-tool-bar.effect-flower>dt{z-index:1;width:40px;height:40px;
	-webkit-transform:scale(1.2);
	-webkit-transform:rotate(0deg);
	-webkit-transition:all 1s cubic-bezier(.97,-0.48,.09,1.48);

	transform:scale(1.2);
	transform:rotate(0deg);
	transition:all 1s cubic-bezier(.97,-0.48,.09,1.48);
}
.app-tool-bar.effect-flower>dt>em{width:40px;height:40px;background-color:rgba(255,255,255,0.35);border-radius:50%;position:absolute;z-index:0;left:0;top:0;
	-webkit-animation:zoom 2.5s linear infinite;
	animation:zoom 2.5s linear infinite;
}
.app-tool-bar.effect-flower>dt>i{width:40px;height:40px;display:block;background-color:rgba(0,0,0,0.65);border-radius:50%;}
.app-tool-bar.effect-flower>dt>b{width:22px;height:2px;display:block;border-radius:2px;position:absolute;left:50%;top:50%;margin-left:-11px;margin-top:-1px;background-color:#fff;}
.app-tool-bar.effect-flower>dt>b:last-child{
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
.app-tool-bar.effect-flower.unfold>dt{
	-webkit-transform:rotate(-135deg);
	transform:rotate(-135deg);
}

/* effect-stretch */
.app-tool-bar.effect-stretch>dt{z-index:1;width:36px;height:36px;border:solid 2px rgba(255,255,255,0.1);
	-webkit-transform:scale(1.2);
	-webkit-transform:rotate(0deg);
	-webkit-transition:all 1s cubic-bezier(.97,-0.48,.09,1.48);

	transform:scale(1.2);
	transform:rotate(0deg);

	transition:border-color 1s ease;
	-webkit-transition:border-color 1s ease;
}

.app-tool-bar.effect-stretch>dt b{border-radius:50%;position:absolute;left:50%;top:50%;display:block;
	transition:border-color 1s ease;
	-webkit-transition:border-color 1s ease;

	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
.app-tool-bar.effect-stretch>dt>b{border:solid 2px rgba(255,255,255,0.3);width:65%;height:65%;}
.app-tool-bar.effect-stretch>dt>b>b{border:solid 2px rgba(255,255,255,0.5);width:50%;height:50%;}
.app-tool-bar.effect-stretch.unfold>dt{border-color:rgba(255,255,255,0.3);}
.app-tool-bar.effect-stretch.unfold>dt>b{border-color:rgba(255,255,255,0.6);}
.app-tool-bar.effect-stretch.unfold>dt>b>b{border-color:rgba(255,255,255,1);}

.app-tool-bar>dd{background-color:rgba(0,0,0,0.5);color:#fff;overflow:hidden;opacity:0;z-index:0;
	transition:all 1.5s cubic-bezier(.97,-0.48,.09,1.48);-webkit-transition:all 1.5s cubic-bezier(.97,-0.48,.09,1.48);
}
.app-tool-bar>dd b{display:block;border-radius:50%;height:100%;width:100%;position:relative;}
.app-tool-bar>dd b i{position:absolute;top:50%;left:50%;width:23px;height:23px;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.app-tool-bar>dd.tel b i{background-position:0 -242px;}
.app-tool-bar>dd.swt b i{background-position:-23px -242px;}
.app-tool-bar>dd.reserve b i{background-position:-46px -242px;}
.app-tool-bar>dd.music b i{background-position:-69px -242px;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}
.app-tool-bar>dd.music b{
	-webkit-animation:rotate 1s linear infinite;
	animation:rotate 1s linear infinite;
}
.app-tool-bar>dd.music.pause b{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
}
.app-tool-bar>dd.music b em{width:50%;height:2px;border-radius:1px;background-color:#fff;display:block;position:absolute;left:50%;top:50%;opacity:0;
	-webkit-transform:translate(-50%,-50%) rotate(45deg);
	transform:translate(-50%,-50%) rotate(45deg);

	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}
.app-tool-bar>dd.music.pause b em{opacity:1;}
.app-tool-bar>dd.share b i{background-position:-92px -242px;}
.app-tool-bar>dd.url b i{background-position:-115px -242px;}
/* 音乐播放器 */
.app-music-player{border:solid 1px #fff;width:28px;height:28px;position:absolute;border-radius:15px;background-color:rgba(0,0,0,0.5);overflow:hidden;z-index:1;
	-webkit-animation:rotate 1s linear infinite;
	animation:rotate 1s linear infinite;
}
.app-music-player.leftTop{left:10px;top:10px;}
.app-music-player.rightTop{right:10px;top:10px;}
.app-music-player.leftBottom{left:10px;bottom:10px;}
.app-music-player.rightBottom{right:10px;bottom:10px;}
.app-music-player.pause{
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
}
.app-music-player i{background-position:0 -85px;width:12px;height:15px;position:absolute;left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.app-music-player em{width:50%;height:1px;border-radius:0.5px;background-color:#fff;display:block;position:absolute;left:50%;top:50%;opacity:0;
	-webkit-transform:translate(-50%,-50%) rotate(45deg);
	transform:translate(-50%,-50%) rotate(45deg);

	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.app-music-player.pause em{opacity:1;}

.app-video-palyer{margin:0 auto;}
.app-video-palyer,.app-video-palyer video{display:block;}
.app-video-palyer video{width:100%;}

/* 版权信息 */
.app-powered-info{position:absolute;bottom:0;left:0;text-align:right;font-size:10px;line-height:20px;height:20px;width:100%;background-color:rgba(0,0,0,0.25);color:rgba(255,255,255,0.75);padding:0;z-index:0;}
.app-powered-info a.poweredBtn{margin-right:0.5em;color:rgba(220,255,0,0.75);display:inline-block;cursor:pointer;}

.app-page-content .page.app-gallery{background-color:#e9e9e9;}
.app-gallery-title{margin:10px;padding:10px;background-color:#fff;height:26px;position:relative;}
.app-gallery-title .app-gallery-logo{width:172px;height:26px;background-position:-129px -174px;padding-right:10px;border-right:solid 1px #ccc;cursor:pointer;}
.app-gallery-title .openShareBtn{height:26px;font-size:14px;font-weight:bold;color:#fff;width:75px;text-align:center;line-height:26px;background-color:#e8a515;position:absolute;right:10px;top:10px;cursor:pointer;}
.app-gallery-list h3{margin:0 10px;border-bottom:solid 1px #e8a517;line-height:16px;height:16px;padding-bottom:2px;}
.app-gallery-list h3 span{border-left:solid 1px #e8a519;display:inline-block;}
.app-gallery-list h3 span b{border-left:solid 3px #e8a519;margin-left:1px;display:inline-block;font-size:15px;color:#e8a515;padding-left:4px;}
.app-gallery-list h3 em{color:#5e5e5f;font-size:7px;margin-left:3px;text-transform:uppercase;}
.app-gallery-list ul{padding:5px;}
.app-gallery-list ul li{width:25%;float:left;}
.app-gallery-list ul li a{margin:5px;display:block;}
.app-gallery-list ul li a img{width:100%;background-color:rgba(0,0,0,0.25);}

/* 弹出窗口 */
.app-popup{z-index:5;position:fixed;left:0;top:0;height:100%;width:100%;}
.popup-wrap{z-index:1;position:absolute;overflow:visible !important;}
.popup-container{background-color:#fff;position:absolute;z-index:1;width:100%;height:100%;overflow:hidden;}
.popup-content{overflow-x:hidden;overflow-y:auto;position:relative;-webkit-overflow-scrolling:touch;}
.popup-mask{background-color:rgba(0,0,0,0.5);width:100%;height:100%;position:absolute;left:0;top:0;z-index:0;}
.popup-close{width:32px;height:32px;display:block;border-radius:50%;background-color:#c90000;position:absolute;right:-16px;top:-16px;z-index:2;opacity:0;
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;

	-webkit-transform:scale(0.75) rotate(-360deg);
	transform:scale(0.75) rotate(-360deg);
}
.popup-wrap.show .popup-close{opacity:1;
	-webkit-transform:scale(1) rotate(0deg);
	transform:scale(1) rotate(0deg);
}
.popup-close i{width:22px;height:2px;display:block;border-radius:2px;position:absolute;left:50%;top:50%;margin-left:-11px;margin-top:-1px;background-color:#fff;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.popup-close i:nth-child(2){
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

/* AJAX表单 */
.app-ajax-form{padding:5px;}
.app-ajax-form div dl{padding:5px 0;line-height:32px;min-height:32px;position:relative;}
.app-ajax-form div dl dt{display:inline-block;position:absolute;left:0;top:5px;font-size:14px;white-space:nowrap;}
.app-ajax-form div dl dd{margin-left:65px;display:block;}
.app-ajax-form div dl dd i{border-left:7px solid transparent;border-right:7px solid transparent;border-top:8px solid #ccc;font-size:0;position:absolute;right:6px;top:50%;margin-top:-4px;z-index:1;}
.app-ajax-form div dl dd label{position:relative;padding-left:18px;display:inline-block;margin-right:4px;}
.app-ajax-form div dl input[type="text"],.app-ajax-form div dl input[type="number"],.app-ajax-form div dl input[type="date"],.app-ajax-form div dl select,.app-ajax-form div dl textarea{border:solid 1px #ccc;padding:0;margin:0;position:relative;border-radius:0;font-size:14px;color:#333;border-radius:2px;background-color:#fff;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.app-ajax-form div dl input::-webkit-input-placeholder{color:rgba(0,0,0,0.5);}
.app-ajax-form div dl select{height:32px;width:100%;text-indent:2px;}
.app-ajax-form div dl input[type="text"],.app-ajax-form div dl input[type="number"],.app-ajax-form div dl input[type="date"]{text-indent:4px;height:30px;width:calc(100% - 2px);}
.app-ajax-form div dl input[type="checkbox"],.app-ajax-form div dl input[type="radio"]{border:solid 1px #ccc;width:16px;height:16px;border-radius:1px;margin:0;padding:0;position:absolute;left:0;top:50%;background-position:500px 500px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);

	-webkit-transition:border-color 0.3s ease;
	transition:border-color 0.3s ease;
}
.app-ajax-form div dl input[type="radio"]{border-radius:50%;}
.app-ajax-form div dl input[type="checkbox"]:checked,.app-ajax-form div dl input[type="radio"]:checked{border-color:#6db201;}
.app-ajax-form div dl input[type="checkbox"]:checked{background-position:1px -115px;}
.app-ajax-form div dl input[type="radio"]:checked{background-position:3px -129px;}
.app-ajax-form div dl textarea{padding:4px;height:60px;width:calc(100% - 10px);line-height:20px;}
.app-ajax-form div dl input[type="text"]:focus,.app-ajax-form div dl input[type="number"]:focus,.app-ajax-form div dl select:focus,.app-ajax-form div dl [type="date"]:focus,.app-ajax-form div dl textarea:focus,.app-ajax-form div dl input[type="password"]:focus,.app-ajax-form div dl input[type="tel"]:focus,.app-ajax-form div dl input[type="email"]:focus{border-color:#6db201;box-shadow:0 0 3px rgba(109,178,1,0.5);}
.app-ajax-form div dl select:focus ~ i{border-top-color:#6db201;}
.app-ajax-form div dl:last-child{padding:5px 0 0 30px;height:34px;text-align:center;}
.app-ajax-form div dl:last-child input{width:80px;height:32px;font-size:14px;margin:0 10px;border-radius:2px;border:none;color:#fff;float:left;padding:0;}
.app-ajax-form div dl:last-child input[type="button"]{background-color:#6db201;}
.app-ajax-form div dl:last-child input[type="reset"]{background-color:#888;}

/* app-contact */
.app-contact{position:relative;}
.app-contact p{margin:0 10%;line-height:22px;font-size:14px;}

.app-contact .btn-box{margin:0 5%;}

/* --shape-- */
/* --shape--circle-- */
.app-contact.circle .btn-box{padding-top:10px;}
.app-contact.circle .btn-box dl{display:inline-block;}
.app-contact.circle .btn-box dl dt{width:40px;height:40px;border-width:1px;border-style:solid;border-radius:50%;margin:0 auto;display:block;cursor:pointer;position:relative;}
.app-contact.circle .btn-box dl dt canvas{position:absolute;left:50%;top:50%;margin:-26px 0 0 -26px;}
.app-contact.circle .btn-box dl dd{text-align:center;line-height:22px;padding-top:5px;}

/* --shape--rect-- */
.app-contact.rect .btn-box{text-align:center;padding-top:5px;}
.app-contact.rect .btn-box span{display:inline-block;margin-top:5px;}
.app-contact.rect .btn-box span em{padding:0 3px;display:block;}
.app-contact.rect .btn-box span a{max-width:78px;margin:0 auto;border-radius:3px;display:block;padding-left:20px;position:relative;line-height:30px;font-size:14px;text-align:center;white-space:nowrap;overflow:hidden;cursor:pointer;}
.app-contact.rect .btn-box span a canvas{position:absolute;top:50%;left:0;margin-top:-16px;}

/* -------------------- slide -------------------- */
/* slide 分页 */
.slide-pagination{position:absolute;left:3px;bottom:3px;z-index:2;height:4px;}
.slide-pagination i{display:block;width:4px;height:4px;background-color:#fff;opacity:0.3;border-radius:2px;margin:0 2px 0 0;float:left;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.slide-pagination i.current{opacity:1;width:15px;}

/* slide */
.slide-wrap{z-index:1;position:relative;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.slide-wrap .slide img{width:100%;}

.slide-guider{width:11px;height:20px;background-position:-13px -80px;top:50%;margin-top:-10px;position:absolute;z-index:2;display:none;}
.slide-guider.prev{left:10px;
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);

	-webkit-animation: sidePrev 1.5s infinite;
	animation: sidePrev 1.5s infinite;
}
.slide-guider.next{right:10px;
	-webkit-animation: sideNext 1.5s infinite;
	animation: sideNext 1.5s infinite;
}

@-webkit-keyframes sidePrev {
	0%{-webkit-transform:translateX(0px) rotate(180deg);}
	20%{-webkit-transform:translateX(0px) rotate(180deg);}
	35%{-webkit-transform:translateX(6px) rotate(180deg);}
	50%{-webkit-transform:translateX(-10px) rotate(180deg);}
	65%{-webkit-transform:translateX(0px) rotate(180deg);}
	80%{-webkit-transform:translateX(-6px) rotate(180deg);}
	100%{-webkit-transform:translateX(0px) rotate(180deg);}
}
@-webkit-keyframes sideNext {
	0%{-webkit-transform:translateX(0px);}
	20%{-webkit-transform:translateX(0px);}
	35%{-webkit-transform:translateX(-6px);}
	50%{-webkit-transform:translateX(10px);}
	65%{-webkit-transform:translateX(0px);}
	80%{-webkit-transform:translateX(6px);}
	100%{-webkit-transform:translateX(0px);}
}

@keyframes sidePrev {
	0%{transform:translateX(0px) rotate(180deg);}
	20%{transform:translateX(0px) rotate(180deg);}
	35%{transform:translateX(6px) rotate(180deg);}
	50%{transform:translateX(-10px) rotate(180deg);}
	65%{transform:translateX(0px) rotate(180deg);}
	80%{transform:translateX(-6px) rotate(180deg);}
	100%{transform:translateX(0px) rotate(180deg);}
}
@keyframes sideNext {
	0%{transform:translateX(0px);}
	20%{transform:translateX(0px);}
	35%{transform:translateX(-6px);}
	50%{transform:translateX(10px);}
	65%{transform:translateX(0px);}
	80%{transform:translateX(6px);}
	100%{transform:translateX(0px);}
}

/* 翻转 */
.slide-wrap.flipY .slide{display:block;position:absolute;left:0;top:0;opacity:0;
	-webkit-transform:translate(-100%,0);
	transform:translate(-100%,0);
	-webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
/* 推 */
.slide-wrap.push .slide{display:block;position:absolute;left:0;top:0;opacity:0;
	-webkit-transform:translate(-100%,0);
	transform:translate(-100%,0);
	-webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
/* 卡片 */
.slide-wrap.card {height:100%;}
.slide-wrap.card .slide{width:78%;height:78%;display:block;position:absolute;left:50%;top:50%;margin-top:-20px;opacity:0;
	-webkit-transform:translate(-50%,30%) rotate(-30deg);
	transform:translate(-50%,30%) rotate(-30deg);
}
/* 覆盖 */
.slide-wrap.cover{position:absolute;left:0;top:0;width:100%;}
.slide-wrap.cover .slide{display:block;position:absolute;left:0;top:0;opacity:0;width:100%;
	-webkit-transform-origin:right center;
	transform-origin:right center;
	-webkit-transform:perspective(500px) rotateY(90deg);
	transform:perspective(800px) rotateY(90deg);
}
.slide-wrap.cover .slide img{width:100%;}
/* 并排 */
.slide-wrap.side .slide{float:left;overflow:hidden;height:100%;}

/* zoom */
@-webkit-keyframes zoom {
	0% {-webkit-transform:scale(1);opacity:1;}
	50% {-webkit-transform:scale(2);opacity:0;}
	100% {-webkit-transform:scale(1);opacity:0;}
}
@keyframes zoom {
	0% {transform:scale(1);opacity:1;}
	50% {transform:scale(2);opacity:0;}
	100% {transform:scale(1);opacity:0;}
}
/* swipeUp */
@-webkit-keyframes swipeUp {
	0% {-webkit-transform:translateY(42px);opacity:0;}
	60% {-webkit-transform:translateY(12px);opacity:1;}
	100% {-webkit-transform:translateY(0px);opacity:0;}
}
@keyframes swipeUp {
	0% {transform:translateY(42px);opacity:0;}
	60% {transform:translateY(12px);opacity:1;}
	100% {transform:translateY(0px);opacity:0;}
}
/* rotate */
@-webkit-keyframes rotate{
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}
@keyframes rotate{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
/* bounce */
@-webkit-keyframes bounce{
  0% {-webkit-transform:translateY(0px);}
  15% {-webkit-transform:translateY(-2px);}
  35% {-webkit-transform:translateY(-8px);}
  50% {-webkit-transform:translateY(-10px);}
  65% {-webkit-transform:translateY(-8px);}
  85% {-webkit-transform:translateY(-2px);}
  100% {-webkit-transform:translateY(0px);}
}
@keyframes bounce{
  0% {transform:translateY(0px);}
  15% {transform:translateY(-1px);}
  35% {transform:translateY(-4px);}
  50% {transform:translateY(-5px);}
  65% {transform:translateY(-4px);}
  85% {transform:translateY(-1px);}
  100% {transform:translateY(0px);}
}

/* ---------- slide effect flipY ---------- */
.flipYOutLeft{-webkit-animation:flipYOutLeft 1s ease both;animation:flipYOutLeft 1s ease both;}
.flipYOutRight{-webkit-animation:flipYOutRight 1s ease both;animation:flipYOutRight 1s ease both;}
@-webkit-keyframes flipYOutLeft{0%{-webkit-transform:perspective(1000px) rotateY(0deg);}
	100%{-webkit-transform:perspective(1000px) rotateY(-180deg);}
@keyframes flipYOutLeft{0%{transform:perspective(1000px) rotateY(0deg);}
	100%{transform:perspective(1000px) rotateY(-180deg);}}

@-webkit-keyframes flipYOutRight{0%{-webkit-transform:perspective(1000px) rotateY(0);}
	100%{-webkit-transform:perspective(1000px) rotateY(180deg);}}
@keyframes flipYOutRight{0%{transform:perspective(1000px) rotateY(0deg);}
	100%{transform:perspective(1000px) rotateY(180deg);}}

.flipYInLeft{-webkit-animation:flipYInLeft 1s ease both;animation:flipYInLeft 1s ease both;}
.flipYInRight{-webkit-animation:flipYInRight 1s ease both;animation:flipYInRight 1s ease both;}
@-webkit-keyframes flipYInLeft{0%{-webkit-transform:perspective(1000px) rotateY(180deg);}
	100%{-webkit-transform:perspective(1000px) rotateY(0deg);}}
@keyframes flipYInLeft{0%{transform:perspective(1000px) rotateY(180deg);}
	100%{transform:perspective(1000px) rotateY(0deg);}}

@-webkit-keyframes flipYInRight{0%{-webkit-transform:perspective(1000px) rotateY(-180deg);}
	100%{-webkit-transform:perspective(1000px) rotateY(0);}}
@keyframes flipYInRight{0%{transform:perspective(1000px) rotateY(-180deg);}
	100%{transform:perspective(1000px) rotateY(0deg);}}

/* ---------- slide effect fadeX ---------- */
.cardXLeft{-webkit-animation:fadeXLeft 0.6s ease both;animation:fadeXLeft 0.6s ease both;}
.cardXRight{-webkit-animation:fadeXRight 0.6s ease both;animation:fadeXRight 0.6s ease both;}

@-webkit-keyframes fadeXLeft{0%{-webkit-transform:translate(-50%,-50%);opacity:1;}
	100%{-webkit-transform:translate(100%,-50%);opacity:0;}}
@keyframes fadeXLeft{0%{transform:translateX(-50%,-50%);opacity:1;}
	100%{transform:translateX(100%,-50%);opacity:0;}}

@-webkit-keyframes fadeXRight{0%{-webkit-transform:translate(-50%,-50%);opacity:1;}
	100%{-webkit-transform:translate(-150%,-50%);opacity:0;}}
@keyframes fadeXRight{0%{transform:translate(-50%,-50%);opacity:1;}
	100%{transform:translate(-150%,-50%);opacity:0;}}

/* ---------- slide effect coverX ---------- */
.fadeOutLeft{-webkit-animation:fadeOutLeft 0.8s ease both;animation:fadeOutLeft 0.8s ease both;}
.fadeOutRight{-webkit-animation:fadeOutRight 0.8s ease both;animation:fadeOutRight 0.8s ease both;}

@-webkit-keyframes fadeOutLeft{0%{-webkit-transform:translate0);opacity:1;}100%{-webkit-transform:translate(100%);opacity:0;}}
@keyframes fadeOutLeft{0%{transform:translateX(0);opacity:1;}100%{transform:translateX(100%);opacity:0;}}

@-webkit-keyframes fadeOutRight{0%{-webkit-transform:translate(0);opacity:1;}
	100%{-webkit-transform:translate(-100%);opacity:0;}}
@keyframes fadeOutRight{0%{transform:translate(0);opacity:1;}100%{transform:translate(-100%);opacity:0;}}
