@charset "utf-8";
#BDBridgeWrap,[href*="tongji.baidu.com"],.anchorBL{display:none !important;}
.mapIcon{background:url('../img/global/map.png') no-repeat 0 0;background-size:200px 100px;display:block;overflow:hidden;}

/* 地图标注 */
.mapMaker{position:absolute;}
.mapMaker i{width:20px;height:26px;margin:0 auto;z-index:1;position:relative;
	-webkit-animation:markerBounce 0.8s infinite;
	animation:markerBounce 0.8s infinite;
}
.mapMaker i s{width:6px;height:6px;position:absolute;top:6px;left:50%;margin-left:-3px;background:#fff;display:block;overflow:hidden;border-radius:50%;}
.mapMaker b{width:24px;height:19px;margin:0 auto;left:8px;bottom:1px;z-index:0;background-position:-76px 0;position:absolute;
	-webkit-animation:markerShadowJump 0.8s infinite;
	animation:markerShadowJump 0.8s infinite;
}
.mapMaker span{color:#2f2f2f;padding:3px 6px;line-height:20px;white-space:nowrap;font-size:1.15em;border-radius:2px;background-color:#fff;position:absolute;left:50%;box-shadow:0 0 3px rgba(0,0,0,0.25);
	-webkit-transform:translate(-50%,5px);
	transform:translate(-50%,5px);
}
.mapMaker.end i{background-position:-37px 0;}
.mapMaker.start i{background-position:-37px -26px;}

.mapNavi{width:16px;height:16px;position:absolute;display:block;}
.mapNavi i.dot{width:14px;height:14px;display:block;position:relative;z-index:1;background-position:-86px -25px;border:solid 1px #546fca;border-radius:50%;left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	-webkit-animation:dotLightShadow 1s infinite;
	animation:dotLightShadow 1s infinite;
}
.mapNavi i.compass{width:45px;height:80px;left:50%;top:50%;margin-left:-22.5px;margin-top:-40px;display:block;background-position:-155px 0;position:absolute;z-index:1;}
.mapNavi b{position:absolute;z-index:0;width:76px;height:76px;display:block;border-radius:50%;background-color:rgba(84,111,202,0.1);border:solid 2px rgba(84,111,202,0.5);left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);

	-webkit-transition:width 1s cubic-bezier(.96,-0.49,0,1.6),height 1s cubic-bezier(.96,-0.49,0,1.6);
	transition:width 1s cubic-bezier(.96,-0.49,0,1.6),height 1s cubic-bezier(.96,-0.49,0,1.6);
}
@-webkit-keyframes markerBounce{
  0% {-webkit-transform:translateY(0px);}
  15% {-webkit-transform:translateY(-2px);}
  35% {-webkit-transform:translateY(-8px);}
  50% {-webkit-transform:translateY(-10px);}
  65% {-webkit-transform:translateY(-8px);}
  85% {-webkit-transform:translateY(-2px);}
  100% {-webkit-transform:translateY(0px);}
}
@keyframes markerBounce{
  0% {transform:translateY(0px);}
  15% {transform:translateY(-1px);}
  35% {transform:translateY(-4px);}
  50% {transform:translateY(-5px);}
  65% {transform:translateY(-4px);}
  85% {transform:translateY(-1px);}
  100% {transform:translateY(0px);}
}
@-webkit-keyframes dotLightShadow{
  0%{box-shadow:0 0 0 rgba(255,255,255,0);}
  50%{box-shadow:0 0 5px rgba(255,255,255,1);}
  100%{box-shadow:0 0 0 rgba(255,255,255,0);}
}
@keyframes dotLightShadow{
  0%{box-shadow:0 0 0 rgba(255,255,255,0);}
  50%{box-shadow:0 0 5px rgba(255,255,255,1);}
  100%{box-shadow:0 0 0 rgba(255,255,255,0);}
}
@-webkit-keyframes markerShadowJump{
  0% {-webkit-transform:translate(0,0) scale(1);opacity:0.8;-webkit-filter:blur(0);}
  15% {-webkit-transform:translate(4px,-1px) scale(0.8);opacity:0.5;-webkit-filter:blur(1px);}
  35% {-webkit-transform:translate(9px,-2px) scale(0.6);opacity:0.3;-webkit-filter:blur(2px);}
  50% {-webkit-transform:translate(12px,-3px) scale(0.4);opacity:0.1;-webkit-filter:blur(4px);}
  65% {-webkit-transform:translate(9px,-2px) scale(0.6);opacity:0.3;-webkit-filter:blur(2px);}
  85% {-webkit-transform:translate(4px,-1px) scale(0.8);opacity:0.5;-webkit-filter:blur(1px);}
  100% {-webkit-transform:translate(0,0) scale(1);opacity:0.8;-webkit-filter:blur(0);}
}
@keyframes markerShadowJump{
  0% {transform:translate(0,0) scale(1);opacity:0.8;filter:blur(0);}
  15% {transform:translate(4px,-1px) scale(0.8);opacity:0.5;filter:blur(1px);}
  35% {transform:translate(9px,-2px) scale(0.6);opacity:0.3;filter:blur(2px);}
  50% {transform:translate(12px,-3px) scale(0.4);opacity:0.1;filter:blur(4px);}
  65% {transform:translate(9px,-2px) scale(0.6);opacity:0.3;filter:blur(2px);}
  85% {transform:translate(4px,-1px) scale(0.8);opacity:0.5;filter:blur(1px);}
  100% {transform:translate(0,0) scale(1);opacity:0.8;filter:blur(0);}
}

/* 静态地图 */
.app-static-map{height:150px;border-top:solid 3px rgba(0,0,0,0.25);border-bottom:solid 3px rgba(0,0,0,0.25);display:block;margin:10px 0;overflow:hidden;position:relative;}
.app-static-map .con{width:100%;height:100%;background-color:#fff;}
.app-static-map .showBtn{position:absolute;left:0;top:0;width:100%;height:100%;display:block;background-color:transparent;z-index:2;cursor:pointer;}

/* 动态地图 */
.app-dynamic-map{width:100%;height:100%;position:absolute;left:50%;top:50%;opacity:0;z-index:1;
	-webkit-transform:translate(-50%,100%);
	transform:translate(-50%,100%);

	-webkit-transition:all 1.2s cubic-bezier(.84,.01,.19,1);
	transition:all 1.2s cubic-bezier(.84,.01,.19,1);
}
.app-dynamic-map.show{opacity:1;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.app-dynamic-map .hide,
.app-dynamic-map .con{width:100%;overflow:hidden;position:absolute;;left:0;}
.app-dynamic-map .hide{top:0;height:20%;}
.app-dynamic-map .con{width:100%;height:80%;bottom:0;box-shadow:0 0 10px rgba(0,0,0,0.4);background-color:#fff;z-index:0;}

.app-dynamic-map .hide .showOut{position:absolute;left:50%;top:50%;width:40px;height:40px;background-color:rgba(0,0,0,0.5);border-radius:50%;z-index:1;overflow:hidden;
	-webkit-transform:translate(-50%,-50%) rotate(-360deg);
	transform:translate(-50%,-50%) rotate(-360deg);

	-webkit-transition:all 3s  0s cubic-bezier(.97,-0.48,.09,1.48);
	transition:all 3s 0s cubic-bezier(.97,-0.48,.09,1.48);
}
.app-dynamic-map .hide .showOut i{width:24px;height:2px;display:block;border-radius:2px;position:absolute;left:50%;top:50%;margin-left:-12px;margin-top:-1px;background-color:#fff;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.app-dynamic-map .hide .showOut i:nth-child(2){
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.app-dynamic-map.show .hide .showOut{cursor:pointer;
	-webkit-transform:translate(-50%,-50%) rotate(0deg);
	transform:translate(-50%,-50%) rotate(0deg);
}

/* 交通控件 */
.map-traffic-bar{width:304px;height:35px;position:absolute;left:50% !important;bottom:8px;box-shadow:1px 1px 2px rgba(0,0,0,0.4);z-index:1;background-color:rgba(255,255,255,0.8);overflow:hidden;border-radius:2px;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.map-traffic-bar .roadInputBar,
.map-traffic-bar .roadSearchBar{position:absolute;top:0;height:100%;}

.map-traffic-bar .roadInputBar{display:block;padding:0 135px 0 35px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

/* 出发地输入控件 */
.map-traffic-bar .roadInputBar i{top:50%;display:block;position:absolute;width:19px;height:19px;left:8px;margin-top:-9.5px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.map-traffic-bar .roadInputBar i:nth-child(1){background-position:0 -54px;opacity:1;}
.map-traffic-bar .roadInputBar i:nth-child(2){background-position:-18px 0;opacity:0;border-radius:50%;
	-webkit-animation:rotate 1s linear infinite;
	animation:rotate 1s linear infinite;
}
.map-traffic-bar .roadInputBar.ing i:nth-child(1){opacity:0;}
.map-traffic-bar .roadInputBar.ing i:nth-child(2){opacity:1;}
.map-traffic-bar .roadInputBar input.addr{border:none;width:100%;background-color:transparent;font-size:14px;padding:0;line-height:17px;color:#676d73;border-radius:0;height:17px;margin:9px 0;}

/* 路线控件 */
.map-traffic-bar .roadSearchBar{width:130px;right:0;}
.map-traffic-bar .roadSearchBar b{width:46px;float:left;height:100%;line-height:35px;font-size:14px;padding-left:18px;text-align:center;position:relative;border-left:solid 1px #ececec;color:#676d73;cursor:pointer;}
.map-traffic-bar .roadSearchBar b i{width:18px;height:18px;position:absolute;left:7px;top:50%;margin-top:-9px;}
.map-traffic-bar .roadSearchBar b:nth-child(2){border-radius:0 18px 18px 0;}
.map-traffic-bar .roadSearchBar b:nth-child(1) i{background-position:0 0;}
.map-traffic-bar .roadSearchBar b:nth-child(2) i{background-position:0 -18px;}

/* 地缩放控件 */
.map-zoom-ctrl-bar{box-shadow:1px 1px 2px rgba(0,0,0,0.4);background-color:rgba(255,255,255,0.8);width:35px;position:absolute;display:block;border-radius:2px;z-index:2147483647 !important;}
.map-zoom-ctrl-bar b{width:35px;height:35px;display:block;position:relative;cursor:pointer;
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}
.map-zoom-ctrl-bar b:nth-child(2){
	margin-top:-1px;border-top:1px solid #ececec;
}
.map-zoom-ctrl-bar b i{height:3px;width:16px;border-radius:1px;background-color:#676d73;display:block;position:absolute;left:50%;top:50%;}
.map-zoom-ctrl-bar b i:nth-child(1){
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.map-zoom-ctrl-bar b i:nth-child(2){
	-webkit-transform:translate(-50%,-50%) rotate(90deg);
	transform:translate(-50%,-50%) rotate(90deg);
}
.map-zoom-ctrl-bar b.disable{opacity:0.5;}

/* 地图位置控件 */
.map-location-ctrl-bar{box-shadow:1px 1px 2px rgba(0,0,0,0.4);background-color:rgba(255,255,255,0.8);width:35px;position:absolute;display:block;border-radius:2px;}
.map-location-ctrl-bar{z-index:2147483647 !important;}
.map-location-ctrl-bar b{width:35px;height:35px;display:block;position:relative;cursor:pointer;}
.map-location-ctrl-bar b:nth-child(1){display:block;}
.map-location-ctrl-bar b:nth-child(2),.map-location-ctrl-bar b:nth-child(3){margin-top:-1px;border-top:1px solid #ececec;}

.map-location-ctrl-bar b i{position:absolute;width:19px;height:19px;left:50%;top:50%;margin-left:-9.5px;margin-top:-9.5px;}
.map-location-ctrl-bar b:nth-child(1) i{background-position:-18px 0;opacity:1;
	-webkit-animation:rotate 1s linear infinite;
	animation:rotate 1s linear infinite;
	
	animation-play-state:paused;
	-webkit-animation-play-state:paused;

	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}
.map-location-ctrl-bar b:nth-child(1).disable i{opacity:0.5;
	animation-play-state:running;
	-webkit-animation-play-state:running;
}

.map-location-ctrl-bar b:nth-child(2) i{background-position:-18px -19px;height:23px;margin-top:-11.5px;}

.map-location-ctrl-bar b:nth-child(3) i{border-radius:50%;border:solid 2px #546fca;width:14px;height:14px;display:block;margin-left:-9px;margin-top:-9px;}
.map-location-ctrl-bar b:nth-child(3) i s{border-radius:50%;background-color:#546fca;width:6px;height:6px;display:block;position:absolute;left:50%;top:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.map-location-ctrl-bar b:nth-child(3).compass i{width:19px;height:19px;left:50%;top:50%;margin-left:-9.5px;margin-top:-9.5px;background-position:-18px -42px;border:none;border-radius:0;}